{
	"presets":["es2015","react"],
	"env": {
	    "development": {
	    	"presets":[
	    		"react-hmre"
	    	],
			"plugins": [
				"react-hot-loader/babel","transform-object-rest-spread"
			]
		},
		"production":{
			"plugins": [
				"transform-object-rest-spread"
			]			
		}
	}
}